@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {

  --font-primary: 'Comic Neue', sans-serif;
  --font-secondary: 'Chewy', cursive;
  --background-color: #0f2027;
  --button-color: #32cd32;
  --button-hover: #28a428;
  --highlight-color: #FFD700;
  --box-border: #32cd32;
  --text-color: white;

}

body {
  font-family: var(--font-primary);
  background-color: var(--background-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Headings */
h1,
h2 {
  font-family: var(--font-secondary);
  font-weight: bold;
  color: white;
  font-size: 60px;
}

#instructions {
  display: none;
}

/* Start Button */
button#start {
  background-color: var(--button-color);
  color: white;
  margin: 10px 5px;
  cursor: pointer;
  font-size: 20px;
}

/* Instruction Button */
button#instructions-btn {
  background-color: var(--button-color);
  color: white;
  margin: 10px 5px;
  cursor: pointer;
  font-size: 20px;
}

/* Submit Button */
button#submit {
  background-color: var(--button-color);
  color: white;
  margin: 10px 5px;
  cursor: pointer;
  font-size: 20px;
}

button#restart {
  background-color: var(--button-color);
  color: white;
  margin: 10px 5px;
  cursor: pointer;
  font-size: 20px;
}

/* Hint Button */
button#hint {
  background-color: var(--button-color);
  color: white;
  margin: 10px 5px;
  cursor: pointer;
  font-size: 20px;
}

/* buttons */
button {
  background-color: var(--button-color);
  border-radius: 10px;
  transition: 0.3;
  padding: 15px 24px;
  font-family: var(--font-primary);
}

/* Hover */
button#hover {
  background-color: var(--button-hover);
  font-weight: 600;
}

/* Box for answer */
input#guess {
  padding: 16px 30px;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

/* timer */
span#timer {
  color: white;
  font-size: 20px;
  
}

/* score */
span#score {
  color: white;
  font-size: 20px;
  
}

div#status{
  padding-top: 10px;
  padding-bottom: 10px;
}
